* {
    transition: .3s ease-in-out;
    font-family: 'Darker Grotesque', sans-serif;
    color: var(--texto);
    scroll-behavior: smooth;
    /* tirando a opção de selecionar texto na página */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    -ms-touch-action: manipulation;
    touch-action: pan-y auto;
}

body{
    min-height: 500vh;
    min-width: 100vw ;
    max-width: 100vw;
}

/* tirando a barra de rolagem */
body::-webkit-scrollbar{
    width: 0;
}

.botoes {
    align-items: start;
    background: linear-gradient(to right, var(--texto) 50%, var(--fundo-preto) 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    border-radius: 0px 0px 5rem 0px;
    color: var(--texto);
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    height: 2rem;
    justify-content: center;
    line-height:.5rem;
    margin: .5rem auto;
    overflow: hidden;
    padding: .3rem;
    transition: all .5s ease-out;
    width: 30rem;
}

.botoes:hover{
    transform: scale(.9);
    background-position: left bottom;
    color: var(--fundo-preto);
}