.principal__blog-post {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 0;
}

.blog-post__conteudo{
    display: flex;
    flex-direction: row;
}

.blog-post__container{
    display: flex;
    flex-direction: column;
    max-height: 1vh;
}

.blog-post__imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    z-index: 0;
    position: inherit;
}
.blog-post__imagem img {
    width: 100vw;
}

.blog-post__infos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-weight: 700;
}

.blog-post__infos .blog-post__titulo {
    color: var(--fundo-preto);
}
.blog-post__infos .blog-post__subtitulo {
    color: var(--hana);
}

.blog-post__infos p{
    color: var(--fundo-preto);
}

.blog-post__button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    justify-self: flex-end;
}
.blog-post__button a{
    font-size: 3rem;
    font-weight: bolder;
    color: var(--fundo-preto);
    border: none;
    background-color: transparent;
    padding: 1rem;
}

.blog-post__button a:hover{
    cursor: pointer;
}
.principal__blog-post .conteudo__botao{
    position: relative;
    top: 80vh;
}

#storytelling {
    display: none;
}
#identidade {
    display: none;
}

@media (max-width: 380px){
    .principal__blog-post{
        height: 120vh;
    }
    .principal__blog-post .conteudo__botao{
        position: relative;
        top: 95vh;
    }
}